@CHARSET "ISO-8859-1";


html{
	position:relative;
}

body {
	position:relative;
	width:100%;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	margin:0;
	display:flex;
}

ul {
	display:block;
	list-style-type: square;
	text-align: left;
	font-size:18px;
}

li{
	padding:5px 5px 5px 5px;
	list-style-position: inside;
}

#headerBox {
 	position:relative;
	width:99.2%;
 	height:15%;
}

#header {
	position:relative;
	height:65%;
	padding:40px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	font-family:Times, Courier New;
	font-size:80px;
	color:#464646;
}

#menuBox {
  	display:inline-block;
 	position:relative;
	width:80%;
 	height:15%;
 	border-top-style:groove;
	border-bottom-style:groove;
	border-color:#D7D7D7;
	padding:0;
	margin:0;
  	overflow: visible;
	vertical-align: middle;

}

.menuOption:hover{
	color: #BD0043;
	text-decoration:none;
}

.menuOption {
	font-weight: bold;
	text-decoration: none;
 	position: relative;
 	padding: 5px 50px 5px 50px;
	font-family:Times, Courier New;
	font-size:22px;
	margin:0;
	z-index:1;
	color:#464646;
	display:inline-block;
	float: none;
	text-align: center;
}

.contentBox {
	width:99.2%;
	height:auto;
	position:absolute;
 	top:105%;
	left:0.4%;
	padding: 50px 30px 30px 30px;
	border-top-style:groove;
	border-color:#D7D7D7;
	overflow-y: scroll;
	overflow-x:hidden;
}

.content {
	position:relative
	height:90%;
	width:80%;
	overflow-y: scroll;
	overflow-x: scroll;
	color:#464646;
	font-family:Times, Courier New;

}

.contentSub {
	float:inherit;
	position: relative;
	height: auto;
	width: auto;
	color: #464646;
	text-align: center;
	padding: 0px 20px 0px 20px;
	font-family: Times, Courier New;
}

.contentSubList {
	float: inherit;
	position:relative;
	height: auto;
	width: auto;
	color: #464646;
	align-content: center;
	text-align: center;
	left: 50px;

}

.contentHeader {
	text-align: center;
	text-decoration: none;
	font-size:28px;
	color:#464646;
}

.contentSubheader {
	text-decoration: none;
	font-size: 20px;
	color: #464646;
}

.contentParagraph {
	font-size:18px;
	color:#464646;

}

a {
	text-decoration:none;
	color:#464646;
}
a:hover {
	text-decoration:underline;
	color:#BD0043;
}

.selected {
	color: #BD0043;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.listTable {
	border:none;
	text-align: center;
}

.timeline, .timelineTd, .timelineTh {
	padding: 15px 100px 45px 100px;
	font-family: Times, Courier New;
}

.timelineTd {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
}

.timelineTh {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
	text-align: right;
	font-size: 24px;
	padding: 30px 30px 30px 30px;
}

.timelineTr {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
	text-align: left;
	font-size: 20px;
	padding-left: 30px;
}

.listTable, .listTd, .listTh {
	padding: 15px 50px 45px 0px;
	font-family: Times, Courier New;

		text-align: center;
}

.listTr {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
	font-size: 20px;
	padding-left: 30px;
}

.listTd {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
}

.listTh {
	border-style:groove;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px #464646 solid;
	font-size: 20px;
	padding-left: 30px;
}
